/* Style global */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Choix de la police pour une meilleure lisibilité */
}

.full-page-background {
    height: 100%; /* S'assure que le conteneur couvre toute la page */
    width: 100%;
    background-image: url('/assets/Ooredoo-Logo.png'); /* Image de fond */
    background-size: cover; /* Couvre toute la surface */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
}

.container {
    max-width: 400px;
    width: 100%; /* Assure que le conteneur ne dépasse pas l'écran */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc avec transparence */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet d'élévation */
    margin: 20px; /* Espace autour du conteneur */
}

h2 {
    text-align: center;
    color: #d0021b; /* Rouge Ooredoo */
    margin-bottom: 20px; /* Espace sous le titre */
}

.form-group {
    margin-bottom: 20px;

    label {
        font-weight: bold;
        color: #d0021b; /* Rouge Ooredoo */
    }

    input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #d0021b; /* Bordure rouge */
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out;
        background-color: rgba(255, 255, 255, 0.9); /* Fond blanc avec transparence */
    }

    input:focus {
        border-color: #f5001d; /* Rouge Ooredoo légèrement plus clair au focus */
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Rouge au focus */
    }

    .text-danger {
        color: #f5001d; /* Rouge pour les messages d'erreur */
        font-size: 14px;
        margin-top: 4px;
    }
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #d0021b; /* Rouge Ooredoo */
    border-color: #d0021b; /* Rouge Ooredoo */
    color: #fff; /* Texte en blanc */
}

.btn-primary:hover {
    background-color: #b30015; /* Rouge plus foncé au survol */
    border-color: #b30015; /* Rouge plus foncé au survol */
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #f9c0c4; /* Rouge pâle quand désactivé */
    border-color: #f9c0c4; /* Rouge pâle quand désactivé */
    cursor: not-allowed; /* Curseur pour état désactivé */
}
