/* Navbar Background Color */
.navbar-red {
    background-color: #000000; /* Couleur de fond de la navbar */
  }
  
  /* Navbar Brand Logo */
  .navbar-brand .logo {
    max-height: 40px; /* Ajuste la hauteur du logo pour être plus proche des liens */
    margin-right: 20px; /* Marge à droite pour espacer le logo des éléments de navigation */
  }
  
  /* Navbar Text Color */
  .navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens */
    font-weight: bold;
    padding: 0.5rem 1rem; /* Espacement autour des liens */
  }
  
  /* Navbar Link Hover Color */
  .navbar-nav .nav-link:hover {
    color: #FFC107; /* Couleur au survol */
  }
  
  /* Language Selector */
  .language-selector-wrapper {
    display: flex;
    align-items: center;
  }
  
  .language-toggle {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  /* Dropdown Menu Styles */
  .dropdown-menu {
    background-color: #fff; /* Couleur de fond du menu déroulant */
    border: 1px solid #ddd; /* Bordure du menu déroulant */
    padding: 0.5rem 0;
  }
  
  .dropdown-item {
    color: #333; /* Couleur du texte des éléments du menu déroulant */
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa; /* Couleur de fond au survol des éléments */
  }
  
  /* Active Language Item */
  .dropdown-item.active {
    background-color: #e9ecef; /* Couleur de fond de l'élément actif */
    font-weight: bold;
  }
  
  /* Responsive Navbar */
  @media (max-width: 767px) {
    .navbar-nav {
      margin-top: 10px;
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  
    .language-selector-wrapper {
      margin-top: 10px;
      text-align: center;
    }
  }
  