.full-page-background {
    background: url('/assets/Ooredoo-Logo.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.8); /* Un fond légèrement transparent pour contraster avec l'image */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .invalid-feedback {
    display: block;
    font-size: 0.875rem;
    color: #dc3545;
  }
  
  .btn-primary {
    background-color: #d0021b;
    border-color: #d0021b;
  }
  
  .btn-primary:hover {
    background-color: #d0021b;
    border-color: #d0021b;
  }
  